{% load static %} 
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="{% static 'images/favicon.jpg.jpeg' %}" sizes="32x32" type="image/jpg">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-color: rgb(41, 38, 38);
        
    }
</style>

<body>
    <div class="abo">
    <h1>About Us</h1>
    <p>Hello Guys welcome to our TAB Community! <br>
        This is acompany started by few college individuals working as different teams to provide you the best possible
        way to explore your journey in most easy, cheap, and comfortable way.
        Our aim is to save your time and money and allow you to enjoy as much as possible.
        This company works on very deep views of customer to provide them the plans which fits their choices to the
        maximum extent.
        What you see now is the result of days and days of procrastination and contemplation. it took us a lot to
        find best out of best.
        There are endless creations in India and people often get confused in choosing the best one to explore.
        No need to worry! We’re here to bring the best out of everything for you.
        Our Company includes four teams: <br>_Coding - which works on getting your views and presenting our plans to you. <br>
        _Exploring- which works on finding the best locations and places that you will be surely gonna enjoy. <br>
        _Publicity- which works on maintaing a constant support to our customers during time of journey . <br>
        _Marketing- which works on converting the best plans into cheapest plans with great comfortability.</p>
    </div>
</body>

</html>