
    body {
        margin-left: 25%;
        padding: 0px;


    }

    .header {
        background-color: black;
        width: 65%;
        border: 2px solid, black;
        border-radius: 4px;

    }

    .header h2 {
        color: white;
        text-align: center;
        text-decoration: bold;
        letter-spacing: 8px;
        font-size: 25px;
        padding: 4px;
    }

    .heading img {
        width: 110px;
        margin-left: 3%;
        margin-top: 10px;
        display: inline-block;
    }

    .heading p {
        position: absolute;
        display: inline-block;
        left: 41%;
        font-size: 25px;
        
    }

    .heading table {
        table-layout: fixed;
        margin-left: 45%;
        border-spacing: 0.5em 0;
        position: relative;
        margin-top: -6%;
        
    }

    .heading table td {
        border: 2px solid #ddd;
        border-radius: 3px;
        ;
        width: 120px;
        padding: 3px;
        margin: 2px;
    }

    .heading table th {
        border: 1px solid rgb(190, 184, 184);
        border-radius: 3px;
        width: 100px;
        text-align: left;
        padding: 5px;
    }
    .last table {
        table-layout: fixed;
        margin-left: 43%;
        border-spacing: 0.5em 0;
        position: relative;
        margin-top: 2%;
        
    }

    .last table td {
        border: 2px solid #ddd;
        border-radius: 3px;
        ;
        width: 140px;
        padding: 3px;
        margin: 2px;
    }

    .last table th {
        border: 1px solid rgb(190, 184, 184);
        border-radius: 3px;
        width: 120px;
        text-align: left;
        padding: 5px;
    }

    hr.new {
        border-top: 1px dashed black;
        margin-right: 50%;
        margin-top: 35px;
        width: 500px
    }

    .tab table {
        table-layout: fixed;
        margin-right: 35%;
       margin-top: 2px;
        border-spacing: 0.3em 0;
        width:2px;
        
    }

    .tab table th {
        border: 1px solid rgb(168, 162, 162);
        width: 215px;
        border-radius: 3px;
        padding: 5px
    }

    .tab table td {
        border: 1px solid rgb(206, 195, 195);
        width: 209px;
        border-radius: 3px;
        padding: 8px
    }
    .imok table {
        table-layout: fixed;
        margin-right: 35%;
        margin-top: 4%;
        border-spacing: 0.3em 0;
        width:2px;
        
        
    }
    .head h2{
        margin-left: 25%;
        text-decoration:underline;
        text-decoration:italic;

    }
    .imok table th {
        border: 1.5px solid black;
        width: 208px;
        border-radius: 3px;
        padding: 8px
    }