<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bill.css">
</head>


<body>
    <div class="header">
        <h2>RECEIPT</h2>
    </div>
    <div class="head">
        <h2>TAB ADVENTURES</h2>
        <ul>
            
            <li> @tabadventures.in</li>
            <li>tabsupport@gmail.com</li>
            <li>+91 6232446830</li>
        </ul>
    </div>
    <div class="heading">

        <img src="icon312.jpg" alt="logo">
        <p>Thank You! For Visiting Us.</p>

        <table>
            <tr>
                <th>Bill No.</th>
                <td>#1</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>31-03-2021</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>GOA</td>
            </tr>
        </table>
    </div>
    <hr class="new">
    <div class="imok">
        <table>
            <tr>
                <th>ITEM</th>
                <th>QUANTITY</th>
                <th>RATE</th>
                <th>AMOUNT</th>
            </tr>
        </table>

    </div>
    <div class="tab">
        <table>

            
            
            <tr>
                <th>Traevl</th>
                <td></td>
                <td>1</td>
                <td></td>

            </tr>
            <tr>
                <th>Hotel</th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th>CAB</th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th>Adventure</th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <th>PASS</th>
                <td></td>
                <td></td>
                <td></td>

            </tr>
           
            
        </table>


    </div>
    <div class="last">
    <table>
        <tr>
            <th>Total</th>
            <td></td>
        </tr>
        <tr>
            <th>Amount Paid</th>
            <td></td>
        </tr>
        <tr>
            <th>Amount Due</th>
            <td></td>
        </tr>
    </table>
    </div>
    <div class="commit">
        <h1>Commitment:</h1>
        <ul>
        <li>We TAB Adventures, hereby commit that we have made arrangements for your trip and got the amount successfully for planning of your trip.</li>
        <li>Reagarding any complain or issues you have faced by us . You can complain on adventurestab@gmail.com.</li>
        <li>We are responsible for any unnecssary reduction of your money while transacting.</li>
        </ul>
    </div>



</body>

</html>